<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
<!-- 게시글 전체 조회 -->
<select id="listAll" resultType="com.ictway.board.model.BoardVO">
	SELECT 
		bno, title, content, writer, regdate, viewcnt 
	FROM tbl_board 
	ORDER BY bno desc, regdate desc
</select>

<!-- 게시글 작성 -->
<insert id="insert">
INSERT INTO tbl_board(
	bno, 
	title, 
	content, 
	writer, 
	regdate, 
	viewcnt
) VALUES (
	 tbl_board_seq.nextval,'${title}','${content}','${writer}', sysdate ,0
)
</insert>

<!-- 게시글 상세 보기  -->
<select id="view" resultType="com.ictway.board.model.BoardVO" parameterType="java.lang.Integer">
SELECT *
FROM tbl_board 
WHERE bno = #{bno}
</select>


<!-- 게시글 수정 -->
<update id="updateBoard" >
UPDATE tbl_board
SET title = '${title}'
, content = '${content}'
,writer = '${writer}'
, regdate = sysdate
WHERE bno = #{bno}
</update>


<!-- 게시글 삭제 -->
<delete id="deleteArticle" parameterType="java.lang.Integer">
DELETE tbl_board 
WHERE bno = #{bno}
</delete>

<!-- **페이징처리** -->
<!-- 총 게시글 갯수 출력 -->
<select id="countBoard" resultType="java.lang.Integer">
SELECT COUNT(*) FROM tbl_board
</select>

<!-- 페이징 처리 후 게시글 조회 -->
<select id="selectBoard" resultType="com.ictway.board.model.BoardVO">
select * 
from (
    select rownum rn, A.* from (
        select * from tbl_board order by bno desc
    ) A
)
where rn between #{start} and #{end} 
</select>

<!-- 조회수 증가 -->
<update id = "updateViewcnt">
UPDATE tbl_board
SET viewcnt = viewcnt + 1
WHERE bno = #{bno}
</update>





</mapper>




